<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebXG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>mayur.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDealer</display-name>
    <servlet-name>AddDealer</servlet-name>
    <servlet-class>mayur.AddDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDealer</servlet-name>
    <url-pattern>/AddDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAwas</display-name>
    <servlet-name>AddAwas</servlet-name>
    <servlet-class>mayur.AddAwas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAwas</servlet-name>
    <url-pattern>/AddAwas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerLogin</display-name>
    <servlet-name>DealerLogin</servlet-name>
    <servlet-class>mayur.DealerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerLogin</servlet-name>
    <url-pattern>/DealerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>mayur.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDealerBill</display-name>
    <servlet-name>AddDealerBill</servlet-name>
    <servlet-class>mayur.AddDealerBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDealerBill</servlet-name>
    <url-pattern>/AddDealerBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>z</display-name>
    <servlet-name>z</servlet-name>
    <servlet-class>mayur.z</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>z</servlet-name>
    <url-pattern>/z</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummitFile</display-name>
    <servlet-name>SummitFile</servlet-name>
    <servlet-class>mayur.SummitFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummitFile</servlet-name>
    <url-pattern>/SummitFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>mayur.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBill</display-name>
    <servlet-name>AddBill</servlet-name>
    <servlet-class>mayur.AddBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBill</servlet-name>
    <url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBFileDownloadServlet</display-name>
    <servlet-name>DBFileDownloadServlet</servlet-name>
    <servlet-class>mayur.DBFileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBFileDownloadServlet</servlet-name>
    <url-pattern>/DBFileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaint</display-name>
    <servlet-name>AddComplaint</servlet-name>
    <servlet-class>mayur.AddComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaint</servlet-name>
    <url-pattern>/AddComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HousePhoto</display-name>
    <servlet-name>HousePhoto</servlet-name>
    <servlet-class>mayur.HousePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HousePhoto</servlet-name>
    <url-pattern>/HousePhoto</url-pattern>
  </servlet-mapping>
</web-app>